# Borradores de notebooks
notebooks/00_proyecto_papa_superior_corabastos.ipynb
notebooks/00_proyecto_papa_superior_corabastos_v2.ipynb
notebooks/00_proyecto_papa_superior_corabastos_v3.ipynb
notebooks/00_proyecto_papa_superior_corabastos_v4.ipynb
notebooks/00_proyecto_papa_superior_corabastos.nbconvert.ipynb
notebooks/01_limpieza.ipynb
notebooks/01_limpieza.py
notebooks/02_descriptivo.ipynb
notebooks/02_descriptivo.py
notebooks/03_correlacion.py
notebooks/00_v5_proyecto_papa_superior_corabastos.ipynb
notebooks/00_v5_proyecto_papa_superior_corabastos.nbconvert.ipynb
notebooks/00_v5finalcostoslocaL _proyecto_papa_superior_c- copia.ipynb
notebooks/Borkmark
notebooks/papa2.html
notebooks/papa_app.py
papaweb.py
